[user]
	email = swear1208a13@gmail.com
	name = Ryosei Goto
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[alias]
	alias = config --get-regexp ^alias\\.
	cm = commit -m
	co = checkout
	st = status
	br = branch
	df = diff
	l = log --oneline
	l1 = log --oneline -1
	l2 = log --oneline -2
	l3 = log --oneline -3
	l4 = log --oneline -4
	l5 = log --oneline -5
	l10 = log --oneline -10

