set number
set ignorecase
set smartcase

" plugins
set easymotion
set surround
set commentary
set NERDTree

" keymaps
let mapleader = "\<space>"

" editor
nmap <CR> o<ESC>
nmap <S-CR> O<ESC>
nmap <Leader>r :action Replace<CR>
vmap <Leader>r :action Replace<CR>
nmap <Leader>R :action ReplaceInPath<CR>
vmap <Leader>R :action ReplaceInPath<CR>
nmap <Leader>f :action Find<CR>
vmap <Leader>f :action Find<CR>
nmap <Leader>F :action FindInPath<CR>
vmap <Leader>F :action FindInPath<CR>

" go to
nmap gi <Action>(GotoImplementation)

nmap <Leader>b <Action>(Run)
nmap <Leader>B <Action>(Debug)
nmap <Leader>t <Action>(ActivateTerminalToolWindow)
nmap <Leader>K <Action>(ShowErrorDescription)
nmap <Leader>k <Action>(ShowHoverInfo)
nmap <Leader>o <Action>(GotoFile)
" nmap <Esc> <Action>(HideActiveToolWindow)

" plugins
map <leader>l <Plug>(easymotion-bd-jk)
xmap <leader>l <Plug>(easymotion-bd-jk)
map <leader>s <Plug>(easymotion-s2)
xmap <leader>s <Plug>(easymotion-s2)
nmap gcc <Action>(CommentByLineComment)
vmap gc <Action>(CommentByLineComment)
nmap <leader>e :NERDTreeToggle<CR>
nmap <Leader>cc <Action>(ActivateGitHubCopilotChatToolWindow)
