set number
set ignorecase
set smartcase

" plugins
set easymotion
set surround
set commentary

" keymaps
let mapleader = "\<space>"

" editor
nmap <CR> o<ESC>
nmap <S-CR> O<ESC>
inoremap <C-[> <Esc>
nnoremap <Esc><Esc> :nohlsearch<CR>
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fg <Action>(FindInPath)
nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>rn <Action>(RenameElement)
vmap <leader>rn <Action>(RenameElement)

" go to
nmap gd <Action>(GotoDeclaration)
nmap gr <Action>(FindUsages)
nmap gi <Action>(GotoImplementation)
nmap gt <Action>(GotoTypeDeclaration)
nmap K <Action>(QuickJavaDoc)
nmap gl <Action>(ShowErrorDescription)

nmap <Leader>b <Action>(Run)
nmap <Leader>B <Action>(Debug)
nmap <Leader>t <Action>(ActivateTerminalToolWindow)
nmap <Leader>k <Action>(ShowHoverInfo)
nmap <Leader>o <Action>(GotoFile)
nmap <Esc> <Action>(HideActiveToolWindow)

" plugins
map s <Plug>(easymotion-s2)
xmap s <Plug>(easymotion-s2)
omap s <Plug>(easymotion-s2)
map S <Plug>(easymotion-bd-jk)
xmap S <Plug>(easymotion-bd-jk)
omap S <Plug>(easymotion-bd-jk)
map <leader>l <Plug>(easymotion-bd-jk)
xmap <leader>l <Plug>(easymotion-bd-jk)
nmap gcc <Action>(CommentByLineComment)
vmap gc <Action>(CommentByLineComment)
nmap <Leader>cc <Action>(ActivateGitHubCopilotChatToolWindow)
