@define-color iceberg_bg #161821;
@define-color iceberg_fg #c6c8d1;
@define-color iceberg_keyword #84a0c6;
@define-color iceberg_whitespace #242940;
@define-color iceberg_comment #6b7089;

#waybar {
  background-color: @iceberg_bg;
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font";
}

#workspaces,
#clock,
#battery,
#memory,
#cpu,
#temperature,
#custom-power,
#pulseaudio,
#network,
#tray {
  background-color: @iceberg_whitespace;
  color: @iceberg_fg;
  padding: 0 10px;
  margin: 2px 0px;
  border-radius: 10px;
  min-width: 15px;
}

#window {
    color: @iceberg_fg;
    background-color: transparent;
}

#workspaces button {
    color: @iceberg_fg;
}

#workspaces button.focused {
    color: @iceberg_fg;
    background-color: @iceberg_comment;
}

