@define-color iceberg_bg #161821;
@define-color iceberg_fg #c6c8d1;
@define-color iceberg_keyword #84a0c6;
@define-color iceberg_whitespace #242940;
@define-color iceberg_comment #6b7089;

window {
    background-color: @iceberg_bg;
    border: 2px solid @iceberg_comment;
    border-radius: 8px;
}

#input {
    background-color: @iceberg_whitespace;
    color: @iceberg_fg;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#outer-box {
    padding: 10px;
}

#scroll {
    margin-top: 5px;
}

#text {
    padding: 5px;
    margin: 0px;
}

#entry {
    padding: 8px;
    margin: 2px 0;
    border-radius: 5px;
    color: @iceberg_fg;
}

#entry:selected {
    background-color: @iceberg_comment; /* Highlight background */
    color: @iceberg_fg;
}
