set number
set ignorecase
set smartcase

" plugins
set easymotion
set surround
set commentary

" keymaps
let mapleader = "\<space>"
nmap <CR> o<ESC>
nmap <S-CR> O<ESC>
nmap <Leader>e <Action>(ShowErrorDescription)
nmap <Leader>k <Action>(ShowHoverInfo)
nmap gi <Action>(GotoImplementation)

nmap <Space>r :action Replace<CR>
vmap <Space>r :action Replace<CR>
nmap <Space>R :action ReplaceInPath<CR>
vmap <Space>R :action ReplaceInPath<CR>
nmap <Space>f :action Find<CR>
vmap <Space>f :action Find<CR>
nmap <Space>F :action FindInPath<CR>
vmap <Space>F :action FindInPath<CR>

" plugins
map <leader>l <Plug>(easymotion-bd-jk)
xmap <leader>l <Plug>(easymotion-bd-jk)
map <leader>s <Plug>(easymotion-s2)
xmap <leader>s <Plug>(easymotion-s2)
nmap gcc :action CommentByLineComment<CR>
vmap gc :action CommentByLineComment<CR>

